@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables

$Blue-Green: #6f1bff84;
$Green: #0ddfbc;
$Hover-Green: #00b164;
$Green-Shadow: #04372136;
$Blue: #db6a53;
$Hover-Blue: #1d36a5;
$Grayish-Blue: #b9b6d3;
$Shadow: #80808047;
$White: #fff;
$Poppins: 'Poppins', sans-serif;

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Poppins;
}

// Style

body {
    background: $Blue-Green url('images/bg-intro-mobile.png') center center no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    @media (min-width: 900px) {
        background: $Blue-Green url('images/bg-intro-desktop.png');
        height: 100vh;
        align-items: center;           
    }
    .container {
        display: grid;
        gap: 1rem;
        padding: 3rem 1.5rem 1rem;
        @media (min-width: 900px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 11% 1fr;
            max-width: 1200px;
            column-gap: 3rem;
        }
        .text {
            display: grid;
            gap: 20px;
            color: $White;
            margin: 1rem auto;
            @media (min-width: 900px) {
                grid-area: 2 / 1 / 3 / 2;
                align-items: center;
                gap: 25px;
                transform: translateY(-30px);
            }
            .text-title {
                font-size: 1.7rem;
                font-weight: 600;
                text-align: center;
                line-height: 35px;
                @media (min-width: 900px) {
                    font-size: 3.2rem;
                    text-align: start;
                    line-height: 60px;
                    font-weight: 700;
                    align-self: flex-end;
                }
            }
            .text-paragraph {
                text-align: center;
                line-height: 25px;
                @media (min-width: 900px) {
                    align-self: flex-start;
                    text-align: start;
                    line-height: 30px;
                    font-weight: 300;
                }
            }
        }
        .free-trial {
            color: $White;
            background-color: $Blue;
            padding: .8rem 3rem;
            border-radius: 10px;
            box-shadow: 0 10px 0 $Shadow;
            transition: .2s;
            &:hover {
                background-color: $Hover-Blue;
                scale: 1.02;
            }
            @media (min-width: 900px) {
                grid-area: 1 / 2;
                height: 65px;
            }
        }
        .form-n-buttons {
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: $White;            
            border-radius: 10px;
            padding: 1.5rem;
            box-shadow: 0 8px 0 $Shadow;
            margin: .5rem 0 0 0;
            @media (min-width: 900px) {
                grid-area: 2 / 2;
                padding: 2.5rem;
                gap: 25px;   
            }           
            .form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                @media (min-width: 900px) {
                    gap: 20px;   
                }   
                .teste {
                    position: relative;                
                    .form-data {
                        width: 100%;                    
                        padding: 1rem;
                        border-radius: 5px;
                        border: 1px solid $Grayish-Blue;                    
                        &::placeholder {
                            font-weight: 600;
                        }
                    }
                    .validation-msg {
                        display: none;
                        font-size: .7rem;
                        font-style: italic;
                        color: $Blue-Green;
                        text-align: end;
                        margin: .2rem;                        
                    }
                    .icon-error {             
                        display: none;       
                        width: 20px;
                        position: absolute;
                        left: 87%;
                        top: 20px;
                        @media (min-width: 900px) {
                            left: 90%;
                        }  
                    }
                }
                }
                .submit {
                    padding: 1rem;
                    background-color: $Green;
                    color: $White;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-weight: 500;
                    box-shadow: 0 4px 0 $Green-Shadow;
                    transition: .2s;
                    &:hover {
                        background-color: $Hover-Green;
                        scale: 1.02;
                    }
                }
                .terms {
                    text-align: center;
                    font-weight: 500;
                    color: $Grayish-Blue;
                    line-height: 20px;
                    font-size: .7rem;
                    strong {
                        color: $Blue-Green;
                        &:hover {
                            cursor: pointer;
                            border-bottom: 2px solid $Blue-Green;
                            
                        }
                    }
                }
            }
        }
    
    footer {
        display: none;
    }
}
